﻿/* Layout */
body {
    background-color: black;
    text-align: left;
}

#background {
    margin: auto;
    padding: 0 0;
    height: 768px;
    width: 1024px;
    background-color: #4d5e5e
}

#upperlayout {
    margin: 0 0;
    padding: 20.48px 45px;
    height: 93.04px;
    width: 934px;
    background-color: #17212e
}

#bottomlayout {
    margin: 0 0;
    padding: 30px 30px;
}

#bottombuttoncontainer {
    display: block;
    margin: 0 auto;
    padding-left: 369.5px;
    padding-top: 0;
}

#canvas {
    background: url(design/transparent.png);
}

/* Property */
div.property {
    display: inline;
    margin: 0 0;
    padding-left: 10px;
    float: right;
    max-height: 134px;
    min-width: 240px;
    max-width: 240px;

    color: #7b7b7b;
    font-size: 16px;
    line-height: 0.2em;
    text-align: left;
    font-family: Comic Sans MS, Monotype Corsiva;
}

.property > p {
    color: #465f81;
}

.slider {
    outline: none;
    background: #d3d3d3;
    opacity: 0.5;
    transition: opacity .1s;
}

.slider:hover {
    opacity: 1;
}

#imagesourceselector {
    padding-left: 60px;
    display: inline;
}

.scalingnumber {
    width: 50px;
}
/* Element */
#icon {
    display: inline;
    margin: 0 35px 0 0;
    width: 128px;
    height: 84px;
}

.tool {
    margin: 0 5px;
}

#bar {
    margin: 0 15px;
}

#textbox {
    background-color: rgba(0, 0, 0, 0.00);
    font-family: Georgia;
    font-size: 12px;
}

.bottombutton {
    margin: 0 5px;
}